@font-face {
	font-family: 'Hero';
	src: url("fonts/hero.otf");
}
html,body,.container-fluid
{
    height:100%;
		line-height: 21px;
		font-family: 'hero';
}
*
{
    margin:0;padding:0;
}
html,body
{
		height: 100%;
		margin: 0;
}
.row{
		height: 100%;
}
.full-height{
		height: 100%;
}
.text-white{
		color: white;
}
.marg-t70{
		margin-top: 70%;
}
.marg-t9{
		margin-top: 9%;
}
.marg-t12{
		margin-top: 12%;
}
.marg-t30{
		margin-top: 30%;
}
.padd-tb15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.padd-l15{
	padding-left: 0.5px;
}
.padd-r15{
	padding-right: 0.5px;
}
.col-cred{
  height:100%;
  text-align: center;
}
.img-center{
  margin-top: 50%;
}
.img-center h2{
  margin-bottom: 80px;
}

.form-control{
  border-radius: 0;
  height: 30px;
}
.mobile-view-header{
	display: none;
}
#krayons-logo{
	background: url("../img/logos/Krayon_logo.png") white no-repeat center center;
	background-size: 180px;
	/*margin: 0px 15px;*/
}
form{
  margin-top: 25%;
}
h3{
	margin: 0px;
	padding:0px 20px;
	line-height: 23px;
  font-size: 17px;
  font-weight: 600;
}
dl{
	padding: 0px 20px;
}
dl>dt>span{
	padding-left: 5px;
}
dl>dd{
	padding-left: 20px;
}
.hide{
	display: none !important;
}

.viewmore{
	background-color: black;
	color: white;
	margin: 0px;
	margin-top: -70px;
	height: 70px;
	padding: 15px 10px;
	position: absolute;
	width: 100%;
}
.viewmore>div>h4{
	font-size: 14px;
}
/*.events img:hover + .viewmore {
    display: block;
}*/
/*.viewmore{
	background-color: black;
  position: absolute;
  margin: -40px;
  padding: 4px;
  width: 100%;
}
.view-btn{
	float: right;
  position: absolute;
  top: 35px;
  right: 30px;
}*/
.yellow-bg{
  background: #FFDC1E;
}
.pink-bg{
  background: #EA1871;
}
.white-bg{
  background: #EEEEEE;
}
.orange-bg{
  background: #FF6401;
}
.green-bg{
  background: #B4DA13;
}
.violet-bg{
  background: #9E6ED1;
}
.lime-bg{
  background: #CEE360;
}
.blue-bg{
  background: #28CDFB;
}
.red-bg{
  background: #DC251F;
}
.col-cred{
	/*width: 33.3%;
	float: left;
	position: fixed;
	height: 100%;*/
}
.no-float{
	float: none !important;
}
.navbar-toggle {
    position: fixed;
    float: right;
    padding: 15px 0px;
    margin: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 2000;
    right: 5%;
    top: 2%;
}
.events{
  /*padding: 33.8px;*/
	padding: 46.4px;
	/*min-height: 228px;*/
	/*padding: 0px;*/
	height: 219.8px;
}
.events img{
  /*width: 160px;
  height: 160px;*/
	/*width: 100%;
	max-width: 100%;
	height: 100%;*/
	margin: 0px auto;
	height: 120px;
}
.details-events{
	width: 65%;
	height: 100%;
	/*float: right;*/
	padding: 25px 60px 25px 25px;
	margin-left: 26%;
}
.details-hr{
	border-top: 1px solid #8C8B8B;
}
.backtoevents{
	background-color: white;
	color: #777;
	font-weight: bold;
	position: fixed;
	top: 50%;
	right: 15px;
	z-index: 1;
	padding-left: 10px;
}
.events-sec{
	/*display: none;*/
}
.aboutcontent{
	margin-left: 20%;
}
.left-sec{
	height: 100%;
	width: 22%;
	bottom: 0;
	float: left;
	padding: 35px 0px;
	position: fixed;
}
.white-box{
	background-color: #ffffff;
	width: 260px;
	/*min-height: 240px;*/
	float: right;
  margin-top: 40%;
	padding: 5px 45px;
  color: black;
  text-indent: -35px;
}
.img-icon{
	margin-right: 15px;
}
.map-bg{
	background: url('../img/icon-images/network.png') no-repeat;
	background-size: 100% 100%;
	height: 100%;
}
.network-div{
	color: #ef2f72;
	text-align: right;
	margin-top: 20px;
	margin-left:-67px;
}
.marg-t12 h3{
	font-size: 45px;
	color: #ea1871;
	font-weight: normal;
	line-height:40px;
	padding-left: 15px;
}
.marg-t9 h3{
	font-size: 45px;
	color: #ea1871;
	font-weight: normal;
	line-height:35px;
	padding-left: 15px;
}
@media(max-width:1200px){
	.backtoevents{
		display: none !important;
	}
}
@media(min-width:1500px){
  .events{
    /*padding: 70px;*/
		height: 300px;
  }
	.events img{
	  /*width: 160px;
	  height: 160px;*/
		/*width: 100%;
		max-width: 100%;
		height: 300px;*/
		margin: 10% auto;
	}
  .sidebar-nav li{
    line-height: 65px !important;
  }
  /*#krayons-logo{
    padding: 60% 10% !important;
  }*/
	.sidebar-nav li{
		line-height: 59px !important;
	}
	.nav-pills>li>a{
		line-height: 71px !important;
	}
	.img-center{
	  /*margin-top: 65% !important;*/
		margin-top: 45%% !important;
	}
}
@media only screen and (min-width: 767px) and (max-width:1300px){
	.details-events{
		margin-left: 28% !important;
	}
}
@media(max-width:500px){
	.aboutcontent{
		margin-top: 20% !important;
	}
	.about-col{
		width: 100% !important;
	}
}
@media(max-width: 767px){
	.main{
		display: none;
	}
	.details-hr{
		display: none;
	}
	.aboutcontent{
		margin-left: 0;
		margin-top: 15%;
	}
	.abouth2{
		margin-top: 10px !important;
	}
	.mobile-view-header{
		display: block;
    width: 100%;
    background: white;
    text-align: center;
    padding: 25px;
		position: fixed;
		height: 80px;
		z-index: 1;
	}
	.mobile-view-header img{
		width: 180px;
	}
	#page-content-wrapper{
  	height: 100%;
		/*z-index: 1000;*/
		position: relative !important;
		margin-top: 80px;
	}
	.container-fluid{
    height: auto;
	}
	.network-div h1{
	  font-size: 45px !important;
	}
	.network-div{
		text-align: left;
		margin-left:0;
	}
	.auto-height{
		height: auto;
	}
	.marg-t20{
		margin-top: 20%;
	}
	/*.marg-t12 h3{
		font-size: 35px;
		line-height:40px;
	}*/
	.marg-t12 h3 {
    font-size: 25px;
    line-height: 25px;
}
.marg-t12 h3 > strong{
	font-size: 35px !important;
}
	/*.marg-t9 h3{
		font-size: 35px;
		line-height:25px;
	}*/
	.marg-t9 h3 {
    font-size: 25px;
    line-height: 25px;
}
	/*.map-bg{
		height: 70%;
	}*/
	.white-box{
		margin: 20% auto;
		float: none !important;
	}
	.left-sec{
		height: 100%;
		width: 100%;
		float: left;
		padding: 35px 0px;
		position: relative;
	}
	.details-events {
    width: 100%;
    height: 100%;
    float: right;
    padding: 25px 60px 25px 25px;
    margin-left: 0;
	}
	.padd-l15{
		padding-left: 15px !important;
	}
	.padd-r15{
		padding-right: 15px !important;
	}
	#footer{
		/*padding: 5% 5% !important;*/
	}
	#sidebar-wrapper {
		left:inherit !important;
	}


}
