<style>
  /* You can safely remove the next two lines */
  .top { padding-right: 20px; background: #261F41; text-align: right; }
  a { color: rgba(255,255,255,0.6); text-transform: uppercase; text-decoration: none; line-height: 42px; }

  h1 {padding: 100px 0; font-weight: 400; text-align: center;}
  p {margin: 0 0 20px; line-height: 1.5;}

  .main {min-width: 320px; max-width: 800px;}
  .content {background: #fff; color: #373737;}
  .content > div {display: none; padding: 15px 5px;}

  input {display: none;}
  label {display: inline-block; padding: 5px 10px; font-weight: 600; text-align: center;}
  label .active, label:hover {color: #000; background-color: #B4DA13; cursor: pointer;}
  #tab1:checked ~ .content #content1,
  #tab2:checked ~ .content #content2,
  #tab3:checked ~ .content #content3,
  #tab4:checked ~ .content #content4 {
    display: block;
  }
  </style>
  <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="events-sec" >
                  <div class="left-sec" style="background-color: {{eventid.bgcolor}}">
                        <div class="">
                          <img class="img-responsive" src="img/events/{{eventid.photo}}" style="height: 70px;margin: 0px auto;">
                        </div>
                        <hr style="border-top: 1px solid #8C8B8B; margin: 10px 20px;">
                        <h3>{{eventid.text}}</h3>
                        <hr style="border-top: 1px solid #8C8B8B; margin: 10px 20px;">
                        <div class="">
                        <h3>EVENTS STATISTICS</h3>
                        <dl>
                          <dt><img src="img/icon-images/location.png"><span>CITIES</span></dt>
                          <dd>{{eventid.cities}}</dd>
                        </dl>
                        <dl>
                            <dt><img src="img/icon-images/ame.png"><span>TARGET GROUP</span></dt>
                            <dd>{{eventid.target}}</dd>
                        </dl>
                        <dl>
                          <dt><img src="img/icon-images/Category.png"><span>Categories</span></dt>
                          <dd>{{eventid.category}}</dd>
                        </dl>
                        <dl>
                          <dt><img src="img/icon-images/reach.png"><span>Reach</span></dt>
                          <dd>{{eventid.reach}}</dd>
                        </dl>
                        <dl>
                          <dt><img src="img/icon-images/time.png"><span>Timeline</span></dt>
                          <dd>{{eventid.timeline}}</dd>
                        </dl>
                      </div>

                      </div>

                      <div class="backtoevents">BACK TO EVENTS<a href="index.html"><img style="margin-top: -5px; margin-left: 5px;" src="img/icon-images/back_btn.png" /></a></div>
                      <div ng-if="id == 0" class="details-events" >
                        <div ng-include="'include/dell.html'"> </div>
                      </div>
                      <div ng-if="id == 1" class="details-events" >
                        <div ng-include="'include/amazingkids.html'"> </div>
                      </div>
                      <div ng-if="id == 2" class="details-events" >
                        <div ng-include="'include/ideasindia.html'"> </div>
                      </div>
                      <div ng-if="id == 3" class="details-events" >
                        <div ng-include="'include/pogo.html'"> </div>
                      </div>
                      <div ng-if="id == 4" class="details-events" >
                        <div ng-include="'include/nse2013.html'"> </div>
                      </div>
                      <div ng-if="id == 5" class="details-events" >
                        <div ng-include="'include/aladdin.html'"> </div>
                      </div>
                      <!-- <div ng-if="id == 6" class="details-events" >
                        <div ng-include="'include/schoolauditions.html'"> </div>
                      </div> -->
                      <div ng-if="id == 6" class="details-events" >
                        <div ng-include="'include/klenza.html'"> </div>
                      </div>
                      <div ng-if="id == 7" class="details-events" >
                        <div ng-include="'include/boost.html'"> </div>
                      </div>
                      <div ng-if="id == 8" class="details-events" >
                        <div ng-include="'include/actigrow.html'"> </div>
                      </div>
                      <div ng-if="id == 9" class="details-events" >
                        <div ng-include="'include/tatasalt.html'"> </div>
                      </div>
                      <div ng-if="id == 10" class="details-events" >
                        <div ng-include="'include/cnchowder.html'"> </div>
                      </div>
                      <div ng-if="id == 11" class="details-events" >
                        <div ng-include="'include/cartoonnetwork.html'"> </div>
                      </div>
                      <div ng-if="id == 12" class="details-events" >
                        <div ng-include="'include/gattu.html'"> </div>
                      </div>
                      <div ng-if="id == 13" class="details-events" >
                        <div ng-include="'include/wizkids2015.html'"> </div>
                      </div>
                      <div ng-if="id == 14" class="details-events" >
                        <div ng-include="'include/hulknorr.html'"> </div>
                      </div>
                      <div ng-if="id == 15" class="details-events" >
                        <div ng-include="'include/intel.html'"> </div>
                      </div>
                      <div ng-if="id == 16" class="details-events" >
                        <div ng-include="'include/youngauthor.html'"> </div>
                      </div>
                      <div ng-if="id == 17" class="details-events" >
                        <div ng-include="'include/infosysyoung.html'"> </div>
                      </div>
                      <div ng-if="id == 18" class="details-events" >
                        <div ng-include="'include/juniorhorlicksdayout.html'"> </div>
                      </div>
                      <div ng-if="id == 19" class="details-events" >
                        <div ng-include="'include/kellogs.html'"> </div>
                      </div>
                      <div ng-if="id == 20" class="details-events" >
                        <div ng-include="'include/knorrsoupynoodles.html'"> </div>
                      </div>
                      <div ng-if="id == 21" class="details-events" >
                        <div ng-include="'include/schoolauditions.html'"> </div>
                      </div>
                      <div ng-if="id == 22" class="details-events" >
                        <div ng-include="'include/nickbigscreen.html'"> </div>
                      </div>
                      <div ng-if="id == 23" class="details-events" >
                        <div ng-include="'include/saharaone.html'"> </div>
                      </div>
                      <div ng-if="id == 24" class="details-events" >
                        <div ng-include="'include/milkymagic.html'"> </div>
                      </div>
                      <div ng-if="id == 25" class="details-events" >
                        <div ng-include="'include/tcs.html'"> </div>
                      </div>
                      <!-- <div ng-if="id == 26" class="details-events" >
                        <div ng-include="'include/essence.html'"> </div>
                      </div> -->
                      <div ng-if="id == 26" class="details-events" >
                        <div ng-include="'include/juniorhorlicksGAP.html'"> </div>
                      </div>
                      <div ng-if="id == 27" class="details-events" >
                        <div ng-include="'include/starsports.html'"> </div>
                      </div>
                      <!-- <div ng-if="id == 29" class="details-events" >
                        <div ng-include="'include/natgeoyoung.html'"> </div>
                      </div> -->
                      <div ng-if="id == 28" class="details-events" >
                        <div ng-include="'include/ngcgreenplanet.html'"> </div>
                      </div>
                      <!-- <div ng-if="id == 31" class="details-events" >
                        <div ng-include="'include/nickmotu.html'"> </div>
                      </div> -->
                      <div ng-if="id == 29" class="details-events" >
                        <div ng-include="'include/nseseason5.html'"> </div>
                      </div>
                      <!-- <div ng-if="id == 33" class="details-events" >
                        <div ng-include="'include/pklshadow.html'"> </div>
                      </div>
                      <div ng-if="id == 34" class="details-events" >
                        <div ng-include="'include/pogobheem.html'"> </div>
                      </div>
                      <div ng-if="id == 35" class="details-events" >
                        <div ng-include="'include/proforce.html'"> </div>
                      </div> -->
                      <div ng-if="id == 30" class="details-events" >
                        <div ng-include="'include/sony.html'"> </div>
                      </div>
                      <!-- <div ng-if="id == 37" class="details-events" >
                        <div ng-include="'include/youngbihar.html'"> </div>
                      </div> -->
                      <div ng-if="id == 31" class="details-events" >
                        <div ng-include="'include/youtube.html'"> </div>
                      </div>
                      <!-- <div ng-if="id == 39" class="details-events" >
                        <div ng-include="'include/zuci.html'"> </div>
                      </div> -->
            </div>

          </div>
          <!-- /#page-content-wrapper -->
