<div id="page-content-wrapper">
    <div class="default">
        <div class="row" >
          <div class="col-sm-6 col-md-4 text-center" style="padding:0;" ng-repeat="event in events" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" >
            <div class="events" style="background-color: {{event.bgcolor}};">
            <img class="img-responsive" src="img/events/{{event.photo}}" > </div>
            <div class="row viewmore" ng-show="block">
              <div class="col-xs-8"><h4><strong>{{event.text}}</strong></h4></div>
              <div class="col-xs-4"><a  ng-click="pageview(event.id,event.text)" class="btn pink-bg" style="border-radius: 0; color: white;">View</a></div>
            </div>
          </div>
      </div>
    </div>
</div>
