<p>ActiGrow Health Campaign promoted nutrition through expert recommendation. The event created awareness about ActiGrow by engaging children a personal level. The core of this program was to create awareness about student’s health to the parents & create a positive brand message for Actigrow.</p>

<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <!-- <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label> -->

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.actigrowth">
        <img id="myImg" class="img-responsive" src="img/gallery/actigrowhealthcampeign/{{picture}}"  ng-click="zoomview('img/gallery/actigrowhealthcampeign/',picture)" >
      </div>
    </div>
    </div>

    <!-- <div id="content2" class="row">
      <div class="col-md-3 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div> -->
  </div>

</div>
