<p>To promote their on air show, an interactive magic show was conducted by Zee TV where in the magician not only kept the kids entertained but the kids also got a chance to learn some of these tricks to further amuse their family and friends!</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <!-- <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label> -->

  <div class="content">
      <div id="content1" class="row">
        <div ng-repeat="gallery in galleryimages">
        <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.aladdin">
          <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)" >
        </div>
      </div>
      </div>

    <!-- <div id="content2">
      Press Gallery
    </div> -->
  </div>

</div>
