<p>A unique event that provided the kids with a platform to showcase any of their talents on stage while the students in the audience sat glued, voting for their favorite performer!</p>
<p>The winners were awarded with the title, “Pogo Amazing Kid of (their) School”.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <!-- <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label> -->

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.kids">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)">
      </div>
    </div>
    </div>

    <!-- <div id="content2" class="row">
      <div class="col-md-3 padd-tb15" ng-repeat="gallery in kidsgallery">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div> -->
  </div>

</div>
