<p>With Australian Cricket star, Brett Lee as brand, Boost gave bowling tips to the cricket enthusiasts present and also chose a few lucky ones to bat against his challenging bowling!</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 padd-tb15" ng-repeat="picture in gallery.boostpicture">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)" >
      </div>
    </div>
    </div>

    <div id="content2" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="press in gallery.boostpress">
        <img id="myImg" class="img-responsive" src="img/gallery/press/{{press}}" ng-click="zoomview('img/gallery/press/',press)">
      </div>
    </div>
    </div>
  </div>

</div>
