<p>An event in workshop format, it was organized to create awareness among students about the importance of martial arts and to teach them basic self-defense techniques. The main objective was to create a positive brand image of CN.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.cnschool">
        <img id="myImg" class="img-responsive" src="img/gallery/cnschoolselfdefence/{{picture}}"  ng-click="zoomview('img/gallery/cnschoolselfdefence/',picture)">
      </div>
    </div>
    </div>

  </div>

</div>
