<p>Aimed at making children learn that kitchen is a place of endless possibilities for adventure, fun and creativity. The CN Chowder Fun Food Funda as a school contact program involved children to make a creative and visually appealing dish using the ingredients provided by us. </p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>
  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.cnchowder">
        <img id="myImg" class="img-responsive" src="img/gallery/cnchowder/{{picture}}"  ng-click="zoomview('img/gallery/cnchowder/',picture)" >
      </div>
    </div>
    </div>
  </div>

</div>
