<!-- <p>The “Dell Champs – 2014” program features an interactive technology based quiz contest that provides a unique platform for parents to participate with their child and be a partner in their success. The teams comprising of a parent and child studying in class 5th – 7th standard will vie for the title of “Dell Champs” 2014. This grand quiz contest will reveal the geniuses of tomorrow in 400 schools across 20 Tier 2 and Tier 3 cities throughout India and make the winning team a Dell Champ.</p>

<p>The competition will be conducted in three levels with the first being the ‘School level’, where interested teams will have a written Preliminary round out of which 6 teams will be chosen and a Final On-stage Round from which 2 teams will be chosen to represent the school in the City Finals.</p>

<p>The school level contest will be followed by an Interactive Internet Safety workshop as part of Dell’s School Contact Program, to educate children and parents on how to use the web safely and tips on implementing and exercising online safety norms.</p>

<p>The second round will involve the top 2 school teams to compete in the ‘City level’ contest, and the 20 City level finalists will complete in an online quiz in the ‘National level’.</p>

<p>The top four teams will receive All-in-One from Dell while the rest of the sixteen finalists receive trophies and certificates from Dell and each of the schools they represent will receive gratifications from Dell.</p>

<p>The 1st winner receives a Dell AIO</p>

<p>The 1st runner up will be awarded an Dell Desktop .</p>

<p>The 2nd runner up will receive a 24” Dell Monitor.</p>

<p>The 3rd runner up will receive a 18.5” Dell Monitor.</p>

<p>4 top schools of the “Dell Champs – 2014” will be awarded a Dell powered study lab equipped with the Dell AIO, projector and interactive screen. The other 16 sixteen schools will receive a Dell All-in-One</p> -->
<p>Dell Champs is an interactive technology-based quiz competition where every team consists of one student and one adult. Recognized as a winner in the LinkedIn Best Customer Outreach Program Category, Dell Champs as a quiz show is conducted in three levels: School, City Finals and National Finals where 20 City level finalists compete in an online quiz for the national title. </p>
<hr class="details-hr">
<div class="main">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.dell">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)">
      </div>
    </div>
    </div>

  </div>

</div>
