<p>Krayon joined hands with Children’s Film Society of India (CFSI) as outreach partners for their first commercial release ‘GATTU’. The movie released on 20th July, 2012 in cinema halls across the country. GATTU was the first CFSI Film in 57 years and also one among very few children’s film that got a theatrical release. Rajshri Productions, a household name for wholesome family films, released GATTU in cinemas all over India. GATTU has won several international awards including one at the prestigious Berlin International Festival. Children have loved the film since it is a lot fun, and teachers have found it useful to encourage values that are important for a child’s growth.</p>
<!-- <hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div> -->
