<p>The Khao Peeo Khelo Championship by Knorr Soupy Noodles for the first time in India brought together the fun of noodles with the health and goodness of soups. It brought the combination of health food option along with fun. A combination of activities that tested the kid’s physical strength & mind along with oodles of fun, the event also engaged mothers with the ‘Complete the Story Contest’. The top selected stories got a chance to win scholarships for their respective children.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <!-- <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label> -->

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.hulknorr">
        <img id="myImg" class="img-responsive" src="img/gallery/hulknorr/{{picture}}"  ng-click="zoomview('img/gallery/hulknorr/',picture)" >
      </div>
    </div>
    </div>

    <!-- <div id="content2" class="row">
      <div class="col-md-3 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div> -->
    </div>
  </div>

</div>
