<p>The challenge was to conceptualize an event keeping the mammoth brand image of Classmates. Krayon’s concept to provide the youth of the country a platform to voice their ideas proved be a game-changer. Echoing Classmate’s abiding credo of Let’s put India first, Classmate Ideas for India Challenge gave the young minds of India (14-21 years) a chance to put forward their ideas on how India can be taken to an even higher orbit of development and prosperity. Selected few ideas were brought into public view and are being supported by various esteemed organizations and corporate houses like the Worldwide Fund for Nature, The Tony Blair Faith Foundation, Janaagraha and many more who are helping them to further develop an execution plan for their unique ideas.</p>

<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <!-- <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label> -->

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.ideas">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)">
      </div>
    </div>
    </div>

    <!-- <div id="content2" class="row">
      <div class="col-md-3 padd-tb15" ng-repeat="gallery in ideasgallery">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div> -->
  </div>

</div>
