<p>Infosys Young Achievers Award was instituted to recognize talent with a conscience and was founded on the belief that individual achievement is truly fulfilled when it impacts the community beyond the individual. Based on the entries 2 participants from each group for each category were selected for the National Finals held at Infosys Campus Bangalore.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>


  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.Infosysyoung">
        <img id="myImg" class="img-responsive" src="img/gallery/infosysyoungacheivers/{{picture}}"  ng-click="zoomview('img/gallery/infosysyoungacheivers/',picture)" >
      </div>
    </div>
    </div>

  </div>

</div>
