<p>e Junior Horlicks GAP (Growth Assessment Program) takes place across Indian cities to speak to children and their parents about nutrition. In every GAP, we keep track of children's development with play, fun and loads of learning. </p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.horlicksgap">
        <img id="myImg" class="img-responsive" src="img/gallery/jrhorlicksgap/{{picture}}"  ng-click="zoomview('img/gallery/jrhorlicksgap/',picture)" >
      </div>
    </div>
    </div>
  </div>

</div>
