<p>A one of its kind activation targeted at students to inculcate the habit of regular breakfast, this activation was conducted in schools where a nutritionist had one on one interaction with students and told them in details about breakfast and why it is important. A two-phase activation targeted at students to inculcate the habit of regular breakfast.A breakfast calendar activity was prepared where students had to put their regular breakfast diet for a period of one month and in the second phase the students were to do a pledge activity of ‘Having Breakfast’, not just for themselves but also encourage their neighbors to follow the same.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>



  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.kelloggs">
        <img id="myImg" class="img-responsive" src="img/gallery/kelloggs/{{picture}}"  ng-click="zoomview('img/gallery/kelloggs/',picture)" >
      </div>
    </div>
    </div>

  </div>

</div>
