<p>Germbusters – Klenza Klean Hands Health and Hygiene interactive and fun workshop for students, Through this workshop, we intend to impact and bring about a positive change in the hygiene habits of children</p>
<hr style="border-top: 1px solid #8C8B8B;">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <!-- <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label> -->

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.klenza">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)">
      </div>
    </div>
    </div>

    <!-- <div id="content2" class="row">
      <div class="col-md-3 padd-tb15" ng-repeat="gallery in klenzagallery">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div> -->
  </div>

</div>
