<p>Knorr Soupy Noodle the best noodle soup with benefits of health and fun brings a once in a lifetime opportunity for the kids to showcase their singing talent and get the opportunity to be a part of  Knorr TVC and come on national television.Knorr Soupy Noodles for the first time in India brought together the fun of noodles with the health and goodness of soups. And what better than combining this healthy option along with some games.</p>
<p>Knorr a leading brand from the house of Hindustan Unilever Limited came up with Knorr Soupy Noodles Khao Peeyo Khelo Championship, a combination of activities that tested the kids physical strength & mind along with oodles of fun. There was something in store for the mothers too with the ‘Complete the Story Contest’. The top story writers got a chance to win scholarships for their child.</p>
<p>All kids were given certificates while a few lucky kids from the audience won exciting prizes by answering simple questions during the activity.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.KnorrKhaopayooGhoo">
        <img id="myImg" class="img-responsive" src="img/gallery/knorrkhaopayooghoo/{{picture}}" ng-click="zoomview('img/gallery/knorrkhaopayooghoo/',picture)">
      </div>
    </div>
    </div>

  </div>

</div>
