<p>Sunfeast Milky Magic All Rounder’ was a unique competition that enriches students’ lives by providing a platform to showcase their strengths and emerge as individuals with holistic personalities. It focuses on their academic, co-curricular and other extra-curricular achievements.The program aims at identifying and recognizing the best ‘All Rounder’ students currently studying in Class 4 to Class 9.</p>
<!-- <hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div> -->
