<p>This activity awarded deserving kids an opportunity to explore the world of space at NASA, USA. This out –of – the - world initiative aimed to get the smarter kids in India to compete with each other where the best kids get their ultimate ticket to their dreams- a once in a life time chance to visit NASA!</p>
<!-- <hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div> -->
