<p>Financial Management is an important life skill in today’s world. it is imperative for children to learn the nuances of the financial market and manage their financial responsibilities as well</p>

<p>Children today face different challenges than what their fathers or forefathers confronted during their times. Parents want to ensure that their children are well educated and are prepared to meet their day to day challenges (including financial challenges) of life. This thought led to the dawn of NSE FUNancial Quest</p>

<p>A annual engagement program initiated by NSE to empower school kids with the basic know-how and understanding of financial concepts and art of managing their finances from an early age in an interesting manner.</p>
<ul style="margin-left: 2%;">
  <li>The Students of Class 8th did a project known as My hero – In this project, students found their Financial Heroes who, with their minimum resources have managed & used their money wisely</li>
  <li>The Students of Class 9th did a Project Known as Project Career & Beyond – An opportunity to plan their career path & look forward to a financially stable life, Involvement of both parents and teachers to help students plan their future better</li>
</ul>
<p><strong>Project ‘My Hero’ winners </strong> – Laptop for All India Winner & Tab for City Winner</p>

<p><strong>Project ‘Career & Beyond’ winners </strong> – Laptop for All India Winner & Tab for City Winner</p>

<p>The Annual Program was divided into 3 phases with Separate workshops for classes 8th & 9th followed by Principal Workshop in each city</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15 demo-gallery" ng-repeat="picture in gallery.nsepicture">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)" />
	    </div>
    </div>
    </div>

    <div id="content2" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="press in gallery.nsepress">
        <img id="myImg" class="img-responsive" src="img/gallery/press/{{press}}"  ng-click="zoomview('img/gallery/press/',press)" />
      </div>
    </div>
    </div>


</div>
</div>
