<p>NSE FUNancial Quest is a special initiative by NSE – National Stock Exchange of India. Through this program NSE takes the initiative to introduce “Financial literacy” in schools. The activity is a year-long association with schools wherein we will engage the kids in an intensive interaction. The kids will learn and understand various concepts of financial planning, money management etc.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <a href="img/gallery/picture/{{gallery.picture}}" rel="gallery"  class="pirobox_gall" title="your title">
            <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
        </a>
        <!-- <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" > -->
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div>
