<p>A unique Antakshari competition exclusively for children, the contest was held at 2 levels: School Level preliminary round and City Level where over 100 teams competed for two pole positions. The winners got a chance to become a RJ on Radio One for a day, were featured on Pogo channel and also won exciting prizes like Sony PS2s and TVs!</p>
<!-- <p>The contest was held at 2 levels – an initial preliminary round held within every school to choose the 10 best teams to represent their school at the next level.</p>
<p>The city level competition was held at a common popular venue in every city where over 100 schools competed with each other to arrive at the final 2 winners.</p>
<p>The winners of this competition got a chance to become a RJ on Radio One for a day, featured on Pogo channel and also won exciting prizes like Sony PS2s and TVs!</p> -->
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.pogo">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)" >
      </div>
    </div>
    </div>

  </div>

</div>
