<p> Dream Chasers by Proforce is based on Football Skills & Identifying young talent at grass-root level- Developing the talent through consistent hand holding and nurturing through professional coaching and promoting the talent to reach to Asian/ World LeveL .This event will happen in 12 Cities wherein children will come to a centralize venue per city & show their football skill .The Registration fees per student will be Rs.550/- .The whole selection process is divided into 4 Rounds . • The top 15 players will be nurtured under professional training in the residential training center of PROFORCE - Cyrus Poonawala International School in Kolhapur  .Players to undergo 360 degree training until the age of 18 years, followed by international exposures in National and International leagues  . 15 selected players to endorse Proforce and the Title Sponsor of the Talent Hunt in every public appearance with Logo Branding for the next 5 years . </p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div>
