<p>A unique auditioning platform to provide kids with a once in a lifetime opportunity to be featured on television and learn dancing from the renowned choreographer, Saroj khan on ‘Nachle Ve with Saroj Khan’.</p>
<p>The event was conducted in two phases school level and city level.</p>
<p>4 kids from each city were selected by Saroj Khan to be featured on NDTV Imagine.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>
  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.school">
        <img id="myImg" class="img-responsive" src="img/gallery/picture/{{picture}}" ng-click="zoomview('img/gallery/picture/',picture)" >
      </div>
    </div>
    </div>
  </div>

</div>
