<p>Maharana Pratap is considered to exemplify the qualities like bravery, patriotism and chivalry. Through this activity, the client wanted the kids to learn the same and inculcate these values of Maharana Pratap. They  also want to create the correlation between the characters and the kids.Our activity titled ‘Mein Bhi Maharana’ was a program through which we informed the kids about the legend of Maharana Pratap and tried to extend those values in the children.</p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ideasgallery">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div>
