<p>The activity highlighted the ‘Importance of Iron in growing kids’ and bring awareness by engaging chidlren through various stamine and concentration-based activities. Games include 'Save the World', Separataion Anxiety, Baby Rattle , Tug of War. Tata Salt Plus have gratification to select children via lucky draw </p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div>
