<p>Wizkids is South Asia’s largest inter-school cultural, art & literary competition. Since its inception, and now in its 14th year, WizKids has been a part of growing for a generation of school students! This unique platform for school students allows them to test their abilities, reward their talents and encourages them to have fun. WizKids has over 25+ fun and exciting art, cultural & literary competitions for school students such as group dancing & singing, quiz, painting, cooking, and essay writing among others. The digital version, eWizKids, gives students a lifetime opportunity to be a part of the prestigious Wiz Team. Over the years, students from India, Pakistan, Nepal, Sri Lanka and U.A.E. have been a part of the WizKids phenomenon! </p>
<hr class="details-hr">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div ng-repeat="gallery in galleryimages">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="picture in gallery.horlickswizkids">
        <img id="myImg" class="img-responsive" src="img/gallery/horlickswizkids/{{picture}}"  ng-click="zoomview('img/gallery/horlickswizkids/',picture)"  >
      </div>
    </div>
    </div>
  </div>

</div>
