<p>The YouTube SpaceLab Project was a new one-of-a-kind competition for high school students aimed at getting teenagers more interested in science. Students between 14 to 18 years of age had to submit their ideas on space experiments to an all-star panel of judges. Two global winners — one from the 14-16 age group and one from the 17 -18 age group — will have their experiments conducted on the International Space Station and streamed live on YouTube along with many other prizes even for the regional winners.</p>
<hr style="border-top: 1px solid #8C8B8B;">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div>
