<p>Hand sanitizers can now be found in the entrances to nursing homes and hospitals and in many public washrooms. We all know the importance of proper hand-washing in reducing harmful germ transmission. However, there are times when there is no access to soap and water or not enough time to wash thoroughly. Can a hand sanitizer serve as a suitable alternative to hand washing? Will using a hand sanitizer decrease your chances of getting sick? Zuci Junior presents the ‘Clean Hands Happy Hands Workshop’ to instill the habit of hand sanitizing amongst kids. Zuci Junior presents activities which will help them learn hand hygiene habits in a fun manner. </p>
<hr style="border-top: 1px solid #8C8B8B;">
<div class="main" ng-app="krayon-events" ng-controller="eventCtrl">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Picture Gallery</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Press Gallery</label>

  <div class="content">
    <div id="content1" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/picture/{{gallery.picture}}" >
      </div>
    </div>

    <div id="content2" class="row">
      <div class="col-md-3 col-sm-6 padd-tb15" ng-repeat="gallery in ">
        <img class="img-responsive" src="img/gallery/press/{{gallery.press}}" >
      </div>
    </div>
  </div>

</div>
